.nav{
    background-color: rgb(3, 128, 134);
    height: 50px;
    padding: 5px;
}

.navbar{
    background-color: rgb(3, 115, 121);
}

.nav .navlinks a{
    text-decoration: none;
}

.nav .navlinks .topnavlinks a span{
    color: white;
    font-size: 18px;

}

.nav .navlinks .topnavlinks a span:hover{
    color: rgb(7, 197, 207);
}

.nav .navlinks .topnavicon a span{
    color: white;
    font-size: 18px;
}

.nav .topnavicon a span i:hover{
    color: rgb(7, 197, 207);
}

.nav .topnavicon a span:hover{
    color: rgb(7, 197, 207);
}

.navbar .collegename{
    text-decoration: none;
    color: white;
}
.navbar .collegename h4{
font-size: 22px;
font-weight: 600;
}

.navbar .collegename:hover{
color: rgb(231, 231, 231);
}

.navbar .nav-item .nav-link{
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.navbar .navbar-nav .nav-item .nav-link{
    color: white;
}

.navbar .navbar-nav .nav-item .nav-link:hover{
    color: rgb(7, 197, 207);
}

.navbar .dropdown-menu .dropdown-item{
    color: rgb(3, 128, 134);
    font-weight: 600;
    font-size: 15px;
}

.navbar .dropdown-menu .dropdown-item:hover{
    color: rgb(7, 197, 207);
}

section{
    margin-top: 30px;
}

.section-title h4{
    font-size: 28px;
    color: teal;
    font-weight: 600;
}

.section-title h3{
    font-size: 35px;
    color: teal;
    font-weight: 600;
}

section .card{
box-shadow: 0px 0px 5px rgb(206, 206, 206);
transition: 500ms all;
}

section .card:hover{
    box-shadow: 0px 0px 10px rgb(185, 185, 185);
}

section .card .img-col img{
    border-radius: 15%;
}

.activeclass h4{
    font-size: 55px;
    color:rgb(3, 115, 121);
    font-weight: 600;
}

.plussign{
    font-size: 60px;
    color:rgb(3, 115, 121);
    font-weight: 600;
 
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.submitbtn{
    color: white;
    background-color: rgb(3, 128, 134);
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100px;
}

.submitbtn:hover{
    background-color: rgb(3, 115, 121);
}

.footertop ul li a{
    color: white;
}

.footertop .footertoplinks a i{
    color: white;
    font-size: 30px;
}

.footertop ul li a {
text-decoration: none;
}

.footertop ul li  a:hover{
    color:rgb(1, 197, 207);  
}

.footertop .footertoplinks  i:hover{
    color:rgb(1, 197, 207); 
}